<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <title>SkinCare</title>
</head>

<body>
  <!-- CABECERA -->
  <header class="cabecera">
    <div class="contenedor-logo">
      <a href="/">
        <img src="static\images\logo.png" height="150px" width="400px" />
      </a>
    </div>
  </header>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navegación en las diferentes subpages-->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-size: 20px">
          <!--Pagina de Inicio-->
          <li class="nav-item">
            <a class="nav-link text-dark active" aria-current="page" href="/">Inicio</a>
          </li>
          <!--Lista deplegable ropa-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Ropa</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-dark" href="#">Camisas</a>
              </li>
              <li>
                <a class="dropdown-item text-dark" href="#">Pantalones</a>
              </li>
              <li>
                <a class="dropdown-item text-dark" href="#">Zapatos</a>
              </li>
            </ul>
          </li>
          <!--Lista desplegable tecnologia-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Tecnologia</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-dark" href="#">Telefonos</a>
              </li>
              <li>
                <a class="dropdown-item text-dark" href="#">Computadoras</a>
              </li>
            </ul>
          </li>
          <!--Lista desplegable SkinCare-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">SkinCare</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-dark" href="#">Serums</a>
              </li>
              <li>
                <a class="dropdown-item text-dark" href="#">Cremas</a>
              </li>
            </ul>
          </li>
          <!--Seccion Nosotros-->
          <li class="nav-item">
            <a class="nav-link text-dark" href="#sobrenosotros">Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <!--NO EDITAR-->

  <!-- Componentes del bloque de texto -->
  <figure class="text-center mt-5">
    <blockquote class="blockquote">
      <h2>SkinCare</h2>
      <p>El Skincare es el cuidado que le damos a nuestra piel para mantenerla saludable. Se asocia con las rutinas que
        seguimos y los productos que usamos para que la piel de nuestro rostro luzca fresca y sana. </p>
    </blockquote>
    <figcaption class="blockquote-footer">
       <cite title="Source Title">Un cuerpo sano refleja una piel radiante</cite>
    </figcaption>
  </figure>
  <!-- Componentes del carrusel de imágenes -->

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src=" https://www.thegreensideofpink.com/wp-content/uploads/2021/05/skincare-routine.jpeg " width="1390"
          height="480" class="d-block w-100" alt=" First slide">
      </div>
      <div class="carousel-item ">
        <img
          src="https://media.vogue.mx/photos/5e98e607e7952100082fdd43/master/w_3000,h_2250,c_limit/aceite-esencial--rostro-de-mujer.jpg"
          width="1390" height="480" class="d-block w-100" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img
          src="https://media.self.com/photos/6308cca162d5cb2c6ba7d014/4:3/w_3776,h_2832,c_limit/fermented-skin-care.jpeg"
          width="1390" height="480" class="d-block w-100" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Componentes del bloque de texto -->
  <figure class="text-center mt-5">
    <blockquote class="blockquote">
      <h2>Serums</h2>
      <p>El uso de un sérum te permite corregir algún problema concreto de la piel sequedad, rojeces, manchas, arrugas, piel apagada.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
    <cite title="Source Title">Líneas: La Roche-Posay, The Ordinary, Otros</cite>
    </figcaption>
  </figure>
  <!-- Creación de la fila para loc componnetes de las cards -->
  <div class="row uno justify-content-around mt-5">
    <!-- Componentes de las cards -->
    <div class="card" style="width: 19rem;">
    <div class="card-body">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://m.media-amazon.com/images/I/61JYScrys3L._SL1500_.jpg " class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/I/51X+mNwegmL._SL1200_.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/I/512FBRKkV1L._SL1200_.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        <h5 class="card-title">Serums La Roche-Posay</h5>
        <p>Mejora el aspecto de tu piel en un 99.9%</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">fghgf</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/512FBRKkV1L._SL1200_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/51X+mNwegmL._SL1200_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <figure class="text-center mt-5">
    <blockquote class="blockquote">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>

  <!-- Componenetes para la segunda fila de cards -->
  <div class="row dos justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/61ESUNXNwWL._SL1500_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/7152fz+t+AL._AC_UL320_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/81QW7Q4FXAL._AC_UL320_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>







  <!--NO EDITAR-->
  <!-- FOOTER -->
  <footer class="text-center text-lg-start foter text-muted">

    <!-- Links donde tenemos otros enlaces de la pagina-->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Mary's Shop Online
            </h6>
            <p>
              Más momentos felices, mas… Mary's Shop Online, donde todos somos Fashion, por que
              tú y tu familia se lo merecen.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Categorias
            </h6>
            <p>
              <a href="#" class="text-reset">Inicio</a>
            </p>
            <p>
              <a href="#" class="text-reset">Ropa</a>
            </p>
            <p>
              <a href="#" class="text-reset">Tecnologia</a>
            </p>
            <p>
              <a href="#" class="text-reset">Nosotros</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              links
            </h6>
            <p>
              <a href="#" class="text-reset">Catálogo</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column  se divide en columnas -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contactanos
            </h6>
            <!-- Aqui va el nombre de la direccion  -->
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
              </svg> Santo Domingo de los Tsachilas, Ecuador.</p>
            <p>
              <!-- aqui va el gmail de nuestro restaurante  -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              grupo6atw@espe.edu.ec
            </p>
            <!-- aqui va nuestro numero celular, esta la ruta del celular esta valida envio correcto -->
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-telephone-x" viewBox="0 0 16 16">
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                <path fill-rule="evenodd"
                  d="M11.146 1.646a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z" />
              </svg> (593) 999 999 999</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer bg-dark">
      <div class="contenedor-footer text-white">
        <small>&copy; 2022 <b>Universidad de las Fuerzas Armadas ESPE</b>
      </div>
    </footer>


    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
</body>

</html>